<!DOCTYPE html>
<html>
    <head>
        {{ template "head.tmpl" . }}

        <title>Account</title>

    </head>
    <body>

        {{ template "navbar.tmpl" . }}

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            My Information
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" action="/account" method="post">
                                <div class="form-group">
                                    <label class="control-label col-xs-4">First Name</label>
                                    <div class="col-xs-8">
                                        <span class="text-danger">{{ getFormError .formErrors "account.firstName" }}</span>
                                        <input class="form-control" type="text" name="firstName" value="{{ .user.FirstName }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Last Name</label>
                                    <div class="col-xs-8">
                                        <span class="text-danger">{{ getFormError .formErrors "account.lastName" }}</span>
                                        <input class="form-control" type="text" name="lastName" value="{{ .user.LastName }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Email</label>
                                    <div class="col-xs-8">
                                        <span class="text-danger">{{ getFormError .formErrors "account.email" }}</span>
                                        <input class="form-control" type="email" name="email" value="{{ .user.Email }}">
                                    </div>
                                </div>
                                <!-- toggle show password input -->
								<div class="form-group">
									<label class="control-label col-xs-4">Password</label>
									<div class="col-xs-8">
                                        <span class="text-danger capsWarn hide">Caps Lock is On</span>
										<div class="input-group">
											<input type="password" id="password" name="password" class="form-control toggle-pass" placeholder="Password"/>
											<span class="input-group-btn">
												<button type="button" class="btn btn-default toggle-pass" data-toggle="tooltip" data-placement="right" title="Click to show/hide your password">
													<i class="fa fa-eye-slash"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
								<!-- toggle show password input -->
                                <button class="btn btn-success btn-block">Save</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            People
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                {{ range $person, $v := .user.People }}
                                    <a class="list-group-item who" style="cursor:pointer;" data-who="{{ Title $person }}">{{ Title $person }}<button class="btn btn-danger btn-xs pull-right confirm-action" data-message="Are you sure you would like to delete this person?" data-color="#ff0000" data-url="/who/{{ $person }}/del" data-type="warning">Delete</button></a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Categories
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                {{ range $category, $v := .user.Categories }}
                                    <a class="list-group-item category" style="cursor:pointer;" data-category="{{ Title $category }}">{{ Title $category }}<button class="btn btn-danger btn-xs pull-right confirm-action" data-message="Are you sure you would like to delete this category?" data-color="#ff0000" data-url="/category/{{ $category }}/del" data-type="warning">Delete</button></a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit Category</h4>
                    </div>
                    <div class="modal-body">
                        <form class="" action="/category" method="post">
                            <label>Name</label>
                            <div class="form-group">
                                <input id="newCategory" type="text" name="newCategory" class="form-control">
                            </div>
                            <input id="oldCategory" type="hidden" name="oldCategory" >

                            <button class="btn btn-primary btn-block">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="whoModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Edit Who</h4>
                    </div>
                    <div class="modal-body">
                        <form class="" action="/who" method="post">
                            <label>Name</label>
                            <div class="form-group">
                                <input id="newWho" type="text" name="newWho" class="form-control">
                            </div>
                            <input id="oldWho" type="hidden" name="oldWho" >

                            <button class="btn btn-primary btn-block">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

         <form id="delete-form" class="hide" action="" method="post"></form>

        {{ template "scripts.tmpl" . }}

        {{ template "session.tmpl" . }}

        <script type="text/javascript">
            confirm.yes = function(btn) {
                $('form#delete-form').attr('action', btn.attr('data-url'));
                $('form#delete-form').submit();
            }

            $('a.category').click(function() {
                var cat = $(this).attr('data-category');
                $('input#newCategory').val(cat);
                $('input#oldCategory').val(cat);
                $('#categoryModal').modal('show');
            });

            $('#categoryModal').on('hidden.bs.modal', function () {
                $('input#newCategory').val('');
                $('input#oldCategory').val('');
            });

            $('a.who').click(function() {
                var who = $(this).attr('data-who');
                $('input#oldWho').val(who);
                $('input#newWho').val(who);
                $('#whoModal').modal('show');
            });

            $('#whoModal').on('hidden.bs.modal', function () {
                $('input#oldWho').val('');
                $('input#newWho').val('');
            });
        </script>

    </body>
</html>
