<!DOCTYPE html>
<html>
    <head>
        {{ template "head.tmpl" . }}

        <link rel="stylesheet" href="/static/css/datatables-bootstrap.css">
        <link rel="stylesheet" href="/static/css/datatables-custom.css">

        <title>Account</title>

    </head>
    <body>

        {{ template "navbar.tmpl" . }}

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            Recent Transactions
                            <button class="btn btn-xs btn-default pull-right" data-toggle="modal" data-target="#transactionModal">Add</button>
                        </div>
                        {{ if .transactions }}
                            <div class="panel-body">
                                <table id="transactions" class="table table-bordered table-hover" width="100%">
                                    <thead>
                                        <tr id="search">
                                            <th>title</th>
                                            <th>description</th>
                                            <th>amount</th>
                                            <th>date</th>
                                        </tr>
                                        <tr>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Amount</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{ range $transaction := .transactions }}
                                            <tr>
                                                <td>{{ $transaction.Title }}</td>
                                                <td>{{ $transaction.Description }}</td>
                                                <td>{{ $transaction.Amount }}</td>
                                                <td>{{ $transaction.Date }}</td>
                                            </tr>
                                        {{ end }}
                                    </tbody>
                                </table>
                            </div>
                        {{ else }}
                            No recent transactions
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="transactionModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Transaction</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="/transactionSave" method="post">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Title</label>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text" name="title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Description</label>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text" name="description">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Ammount</label>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text" name="ammount">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Category</label>
                                <div class="col-xs-8">
                                    <select id="budgetItemId" class="form-control" name="budgetItemId">
                                        {{ range $category := .categories }}
                                            {{ range $sub := $category.Items }}
                                                <option value="{{ $sub.Id }}">{{ $category.Group.Title }} - {{ $sub.Title }}</option>
                                            {{ end  }}
                                        {{ end }}
                                    </select>
                                </div>
                                <input id="budgetGroupId" type="hidden" name="budgetGroupId" value="">
                            </div>
                            <button class="btn btn-success btn-block">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {{ template "scripts.tmpl" . }}

        {{ template "session.tmpl" . }}

        <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" charset="utf-8"></script>
        <script src="/static/js/datatables-bootstrap.js" charset="utf-8"></script>
        <script src="/static/js/datatables-custom.js" charset="utf-8"></script>

        <script type="text/javascript">

                var table = $('#transactions').DataTable({
                    "lengthMenu":[10,15,20],
                    "pageLength": 10,
                    "columnDefs": [
                        { "name": "title",     "targets": 0 },
                        { "name": "description",  "targets": 1 },
                        { "name": "amount",    "targets": 2 },
                        { "name": "date",      "targets": 3 }
                    ]
                });

        </script>


    </body>
</html>
