<!DOCTYPE html>
<html>
    <head>
        {{ template "head.tmpl" . }}

        <title>Budget</title>

        <style media="screen">
            .list-group {
                margin-bottom: 0;
            }
        </style>

    </head>
    <body>

        {{ template "navbar.tmpl" . }}

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <legend>
                        Categories
                        <button class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#budgetGroupModal">Add Category</button>
                    </legend>
                    {{ if .categories }}
                        <div class="panel-group" id="categories" role="tablist" aria-multiselectable="true">
                            {{ range $i, $category := .categories }}
                                <div class="panel panel-default">
                                    <div class="panel-heading clearfix" role="tab" id="headingOne">
                                        <h4 class="panel-title clearfix">
                                            <a role="button" data-toggle="collapse" data-parent="#categories" href="#category-{{ $i }}" aria-expanded="true" aria-controls="collapseOne">
                                                {{ $category.Group.Title }}
                                            </a>
                                            <button class="btn btn-xs btn-default pull-right subcategory" data-group-id="{{ $category.Group.Id }}">Add Subcategory</button>
                                        </h4>
                                    </div>
                                    <div id="category-{{ $i }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            {{ if $category.Items }}
                                                <ul class="list-group">
                                                    {{ range $sub := $category.Items }}
                                                        <li class="list-group-item">{{ $sub.Title }}</li>
                                                    {{ end }}
                                                </ul>
                                            {{ else }}
                                                No Subcategories
                                            {{ end }}
                                        </div>
                                    </div>
                                </div>
                            {{ end }}
                        </div>
                    {{ else }}
                        No Groups
                    {{ end }}
                </div>
            </div>
        </div>

        <div class="modal fade" id="budgetGroupModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add Category</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="/budgetGroup" method="post">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Title</label>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text" name="title">
                                </div>
                            </div>
                            <button class="btn btn-success btn-block">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="budgetItemModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add Subcategory</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" action="/budgetItem" method="post">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Title</label>
                                <div class="col-xs-8">
                                    <input class="form-control" type="text" name="title">
                                </div>
                            </div>
                            <input id="budgetGroupId" type="hidden" name="budgetGroupId" value="">
                            <button class="btn btn-success btn-block">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {{ template "scripts.tmpl" . }}

        <script type="text/javascript">
            $('button.subcategory').click(function() {
                $('input#budgetGroupId').val($(this).attr('data-group-id'));
                $('div#budgetItemModal').modal('show');
            });
        </script>

    </body>
</html>
