<!DOCTYPE html>
<html>
    <head>
        {{ template "head.tmpl" . }}

        <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/datatables-custom.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">

        <style media="screen">
            .pagination>li>div {
                position: relative;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                color: #337ab7;
                text-decoration: none;
                background-color: #fff;
                border-top: 1px solid #ddd;
                border-right: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
            }
        </style>

        <title>Transactions</title>

    </head>
    <body>

        {{ template "navbar.tmpl" . }}

        {{ template "size.tmpl" }}

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="">Transactions</a></li>
                            <li><a href="/quickTransaction">Quick Transactions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-xl-2">
                    <label>Time</label>
                    <select id="rangeType" class="form-control" name="time">
                        <option value="1" selected>One Month</option>
                        <option value="3">3 Months</option>
                        <option value="6">6 Months</option>
                        <option value="year">Year</option>
                        <option value="pick">Pick Dates</option>
                    </select>
                </div>
                <div class="col-md-2 col-xl-2">
                    <label>Ammount Type</label>
                    <select id="aType-filter" class="form-control filter" name="aType">
                        <option value="">All</option>
                        <option value="income">Income</option>
                        <option value="expense">Expense</option>
                    </select>
                </div>
                <div class="col-md-2 col-xl-2">
                    <label>Who</label>
                    <select id="who" class="form-control filter" name="who">
                        <option value="">All</option>
                        {{ range $who := OrderCategories .user.People }}
                            <option value="{{ Title $who }}">{{ Title $who }}</option>
                        {{ end }}
                    </select>
                </div>
                <div class="col-md-2 col-xl-2">
                    <label>Category 1</label>
                    <select id="category1" class="form-control filter" name="category1">
                        <option value="">All</option>
                        {{ range $category := OrderCategories .user.Categories }}
                            <option value="{{ Title $category }}">{{ Title $category }}</option>
                        {{ end }}
                    </select>
                </div>
                <div class="col-md-2 col-xl-2">
                    <label>Category 2</label>
                    <select id="category2" class="form-control filter" name="category2">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label>Reset</label>
                    <button id="resetAll" class="btn btn-primary btn-block">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <ul id="dateRange" class="pagination" style="width:100%;">
                        <li>
                            <a id="rangePrev" style="cursor:pointer;" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li>
                            <a id="reset" style="cursor:pointer;">
                                <i class="fa fa-refresh"></i>
                            </a>
                        </li>
                        <li class="pull-right">
                            <a id="rangeNext" style="cursor:pointer;border-top-right-radius: 4px;border-bottom-right-radius: 4px;" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                        <li>
                            <div style="overflow:hidden" class="text-center">
                                 <a id="range" style="width:100%;"></a>
                            </div>
                        </li>
                    </ul>

                    <div id="datePicker" class="row hide">
                        <div style="margin: 20px 0;" class="clearfix">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input id="begDate" type="text" class="form-control datepicker" name="dateString" placeholder="Date">
                                    <span class="input-group-addon calander"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input id="endDate" type="text" class="form-control datepicker" name="dateString" placeholder="Date">
                                    <span class="input-group-addon calander"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            All Transactions
                            <button class="btn btn-xs btn-default pull-right" data-toggle="modal" data-target="#transactionModal">Add</button>
                        </div>
                        <div class="panel-body">
                            {{ if .transactions }}
                                <div class="table-responsive">
                                    <table id="transactions" class="table table-bordered table-hover" width="100%">
                                        <thead>
                                            <tr id="search">
                                                <th>date</th>
                                                <th>title</th>
                                                <th>expense</th>
                                                <th>income</th>
                                                <th>who</th>
                                                <th>category</th>
                                                <th>secondaryCategory</th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <th>Date</th>
                                                <th>Title</th>
                                                <th>Expense</th>
                                                <th>Income</th>
                                                <th>Who</th>
                                                <th>Category</th>
                                                <th>Secondary Category</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2"></th>
                                                <th class="text-right"></th>
                                                <th class="text-right"></th>
                                                <th colspan="4"></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{ range $transaction := .transactions }}
                                                <tr class="clickable" data-transaction="{{ toBase64Json $transaction }}">
                                                    <td>{{ PrettyDate $transaction.Date }}</td>
                                                    <td>{{ $transaction.Title }}</td>
                                                    <td class="text-right">{{ if isIncome $transaction.Ammount | not }}{{ printf "$%.2f" $transaction.Ammount }}{{ end }}</td>
                                                    <td class="text-right">{{ if isIncome $transaction.Ammount }}{{ printf "$%.2f" $transaction.Ammount }}{{ end }}</td>
                                                    <td>{{ Title $transaction.Who }}</td>
                                                    <td>{{ Title $transaction.Category }}</td>
                                                    <td>{{ Title $transaction.SecondaryCategory }}</td>
                                                    <td><a class="confirm-action text-danger" data-message="Are you sure you would like to permanently delete this transaction?" data-color="#ff0000" data-url="/transaction/del/{{ $transaction.Id }}" data-type="warning">Delete</a></td>
                                                </tr>
                                            {{ end }}
                                        </tbody>
                                    </table>
                                </div>
                            {{ else }}
                                No recent transactions
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form id="delete-form" class="hide" action="" method="post"></form>

        {{ template "scripts.tmpl" . }}
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" charset="utf-8"></script>

        {{ template "session.tmpl" . }}

        <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" charset="utf-8"></script>
        <script src="//cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js" charset="utf-8"></script>
        <script src="/static/js/datatables-custom.js" charset="utf-8"></script>

        {{ template "addTransaction.tmpl" . }}
        <script src="/static/js/transaction.js" charset="utf-8"></script>
        <script src="/static/js/confirm.js" charset="utf-8"></script>

        <script type="text/javascript">
        confirm.yes = function(btn) {
            $('form#delete-form').attr('action', btn.attr('data-url'));
            $('form#delete-form').submit();
        }
        </script>


    </body>
</html>
