<!DOCTYPE html>
<html>
    <head>
        {{ template "head.tmpl" . }}

        <link rel="stylesheet" href="//cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/datatables-custom.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">

        <style media="screen">
        .pagination>li>div {
            position: relative;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border-top: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }
        </style>

        <title>Transactions</title>

    </head>
    <body>

        {{ template "navbar.tmpl" . }}

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="">Transactions</a></li>
                            <li><a href="/quickTransaction">Quick Transactions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 col-xl-2">
                    <label>Time</label>
                    <select id="rangeType" class="form-control" name="time">
                        <option value="1month" selected>One Month</option>
                        <option value="3month">3 Months</option>
                        <option value="6month">6 Months</option>
                        <option value="year">Year</option>
                        <option value="pick">Pick Dates</option>
                    </select>
                </div>
                <div class="col-lg-2 col-xl-2">
                    <label>Ammount Type</label>
                    <select id="aType-filter" class="form-control filter" name="aType">
                        <option value="">All</option>
                        <option value="income">Income</option>
                        <option value="expense">Expense</option>
                    </select>
                </div>
                <div class="col-lg-offset-1 col-xl-offset-1 col-lg-2 col-xl-2">
                    <label>Who</label>
                    <select id="who" class="form-control filter" name="who">
                        <option value="">All</option>
                        {{ range $who := OrderCategories .user.People }}
                            <option value="{{ Title $who }}">{{ Title $who }}</option>
                        {{ end }}
                    </select>
                </div>
                <div class="col-lg-offset-1 col-xl-offset-1 col-lg-2 col-xl-2">
                    <label>Category 1</label>
                    <select id="category1" class="form-control filter" name="category1">
                        <option value="">All</option>
                        {{ range $category := OrderCategories .user.Categories }}
                            <option value="{{ Title $category }}">{{ Title $category }}</option>
                        {{ end }}
                    </select>
                </div>
                <div class="col-lg-2 col-xl-2">
                    <label>Category 2</label>
                    <select id="category2" class="form-control filter" name="category2">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">

                    <ul id="dateRange" class="pagination" style="width:100%;">
                        <li>
                            <a id="rangePrev" style="cursor:pointer;" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li>
                            <a id="reset" style="cursor:pointer;">
                                <i class="fa fa-refresh"></i>
                            </a>
                        </li>
                        <li class="pull-right">
                            <a id="rangeNext" style="cursor:pointer;border-top-right-radius: 4px;border-bottom-right-radius: 4px;" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>

                        <li>
                            <div style="overflow:hidden" class="text-center">
                                 <a id="range" style="width:100%;"></a>
                            </div>
                        </li>
                    </ul>

                    <div id="datePicker" class="row hide">
                        <div style="margin: 20px 0;" class="clearfix">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input id="begDate" type="text" class="form-control datepicker" name="dateString" placeholder="Date">
                                    <span class="input-group-addon calander"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input id="endDate" type="text" class="form-control datepicker" name="dateString" placeholder="Date">
                                    <span class="input-group-addon calander"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            All Transactions
                            <button class="btn btn-xs btn-default pull-right" data-toggle="modal" data-target="#transactionModal">Add</button>
                        </div>
                        <div class="panel-body">
                            {{ if .transactions }}
                                <div class="table-responsive">
                                    <table id="transactions" class="table table-bordered table-hover" width="100%">
                                        <thead>
                                            <tr id="search">
                                                <th>date</th>
                                                <th>title</th>
                                                <th>expense</th>
                                                <th>income</th>
                                                <th>who</th>
                                                <th>category</th>
                                                <th>secondaryCategory</th>
                                            </tr>
                                            <tr>
                                                <th>Date</th>
                                                <th>Title</th>
                                                <th>Expense</th>
                                                <th>Income</th>
                                                <th>Who</th>
                                                <th>Category</th>
                                                <th>Secondary Category</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2"></th>
                                                <th class="text-right"></th>
                                                <th class="text-right"></th>
                                                <th colspan="3"></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{ range $transaction := .transactions }}
                                                <tr class="clickable" data-transaction="{{ toBase64Json $transaction }}">
                                                    <td>{{ PrettyDate $transaction.Date }}</td>
                                                    <td>{{ $transaction.Title }}</td>
                                                    <td class="text-right">{{ if isIncome $transaction.Ammount | not }}{{ printf "$%.2f" $transaction.Ammount }}{{ end }}</td>
                                                    <td class="text-right">{{ if isIncome $transaction.Ammount }}{{ printf "$%.2f" $transaction.Ammount }}{{ end }}</td>
                                                    <td>{{ Title $transaction.Who }}</td>
                                                    <td>{{ Title $transaction.Category }}</td>
                                                    <td>{{ Title $transaction.SecondaryCategory }}</td>
                                                </tr>
                                            {{ end }}
                                        </tbody>
                                    </table>
                                </div>
                            {{ else }}
                                No recent transactions
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {{ template "scripts.tmpl" . }}
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" charset="utf-8"></script>

        {{ template "session.tmpl" . }}

        <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js" charset="utf-8"></script>
        <script src="//cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js" charset="utf-8"></script>
        <script src="/static/js/datatables-custom.js" charset="utf-8"></script>

        {{ template "addTransaction.tmpl" . }}

        <script type="text/javascript">



            var today = new Date();
            var range = 1;
            var beg = new Date(today.getFullYear(), today.getMonth(), 1);
            var end = new Date(today.getFullYear(), today.getMonth() + range, 0);
            displayRange();

            function logRange() {
                console.log(beg);
                console.log(end);
                console.log(' ');
            }

            $('a#reset').click(function() {
                beg = new Date(today.getFullYear(), today.getMonth(), 1);
                end = new Date(today.getFullYear(), today.getMonth() + 1, 0);
                $('select#rangeType').val('1month');
                displayRange();
                table.draw();
            });

            $('a#rangePrev').click(function() {
                if ($('select#rangeType').val() == 'year') {
                    beg.setFullYear(end.getFullYear() - 1, 0, 1);
                    end.setFullYear(end.getFullYear() - 1, 12, 0);
                } else {
                    beg.setMonth(beg.getMonth() - 1);
                    end = new Date(beg.getFullYear(), beg.getMonth() + range, 0);
                }
                displayRange();
                table.draw();

            });

            $('a#rangeNext').click(function() {
                if ($('select#rangeType').val() == 'year') {
                    beg.setFullYear(end.getFullYear() + 1, 0, 1);
                    end.setFullYear(end.getFullYear() + 1, 12, 0);
                } else {
                    beg.setMonth(beg.getMonth() + 1);
                    end = new Date(beg.getFullYear(), beg.getMonth() + range, 0);
                }

                displayRange();
                table.draw();
            });

            function displayRange() {
                logRange();
                var rangeType = $('select#rangeType').val();
                if (rangeType === '1month') {
                    $('a#range').html(beg.toLocaleString({}, { month: "long" }) + ' ' + beg.getFullYear());
                    return;
                }
                if (rangeType === '3month' || rangeType === '6month') {
                    $('a#range').html(
                        beg.toLocaleString({}, { month: "long" }) + ' ' + beg.getFullYear() +
                        ' - ' +
                        end.toLocaleString({}, { month: "long" }) + ' ' + end.getFullYear()
                    );
                    return
                }
                if (rangeType === 'year') {
                    $('a#range').html(beg.getFullYear());
                }
            }

            $('#begDate').change(function() {
                beg = $(this).datepicker('getDate');
                table.draw();
                logRange();
            });

            $('#endDate').change(function() {
                end = $(this).datepicker('getDate');
                table.draw();
                logRange();
            });

            $('select#rangeType').change(function() {
                var rangeType = $(this).val();
                switch (rangeType) {
                    case '1month':
                        beg.setFullYear(end.getFullYear());
                        beg.setMonth(end.getMonth());
                        range = 1;
                        $('#datePicker').addClass('hide');
                        $('#dateRange').removeClass('hide');
                        break;
                    case '3month':
                        beg.setFullYear(end.getFullYear());
                        beg.setMonth(end.getMonth() - 2);
                        range = 3;
                        $('#datePicker').addClass('hide');
                        $('#dateRange').removeClass('hide');
                        break;
                    case '6month':
                        beg.setFullYear(end.getFullYear());
                        beg.setMonth(end.getMonth() - 5);
                        range = 6;
                        $('#datePicker').addClass('hide');
                        $('#dateRange').removeClass('hide');
                        break;
                    case 'year':
                        beg.setFullYear(end.getFullYear(), 0, 1);
                        end.setFullYear(end.getFullYear(), 12, 0);
                        $('#datePicker').addClass('hide');
                        $('#dateRange').removeClass('hide');
                        range = 12;
                        break;
                    case 'pick':
                        $('#dateRange').addClass('hide');
                        $('#datePicker').removeClass('hide');
                        $('#begDate').datepicker('update', beg);
                        $('#endDate').datepicker('update', end);
                }
                displayRange();
                table.draw();
            });

            var category2 = [];

            $('select#category1').change(function() {
                category2 = [];
            });

            $.fn.dataTable.ext.search.push(
                function( settings, data, dataIndex ) {

                    var date = new Date(data[0]);
                    if (date == 'Invalid Date') {
                        return false;
                    }
                    return (beg <= date && date <= end);
                }
            );

            $.fn.dataTable.ext.search.push(
                function( settings, data, dataIndex ) {

                    var aType = $('select#aType-filter').val();

                    if (aType == 'expense') {
                        var v = intVal(data[2])
                        if (v < 0) {
                            return true;
                        }
                        return false;
                    }

                    if (aType == 'income') {
                        var v = intVal(data[3]);
                        if (v > 0) {
                            return true;
                        }
                        return false;
                    }

                    return true;
                }
            );

            $.fn.dataTable.ext.search.push(
                function( settings, data, dataIndex ) {

                    var category = $('select#category1').val();
                    if (category == '') {
                        return true;
                    }

                    if (data[5] == category) {
                        if (data[6] != '') {
                            category2.push(data[6]);
                        }
                        return true;
                    }
                    if (data[6] == category) {
                        if (data[5] != '') {
                            category2.push(data[5]);
                        }
                        return true
                    }
                    return false;
                }
            );

            $.fn.dataTable.ext.search.push(
                function( settings, data, dataIndex ) {

                    var category = $('select#category2').val();
                    if (category == '') {
                        return true;
                    }

                    if (data[5] == category) {
                        return true;
                    }
                    if (data[6] == category) {
                        return true
                    }
                    return false;
                }
            );

            $.fn.dataTable.ext.search.push(
                function( settings, data, dataIndex ) {

                    var who = $('select#who').val();
                    if (who == '') {
                        return true;
                    }

                    if (data[4] == who) {
                        return true;
                    }
                    return false;
                }
            );


            $('select.filter').change(function() {
                table.draw()
            });

            var table = $('#transactions').DataTable({
                "lengthMenu":[5, 10,15,20],
                "pageLength": 5,
                "order": [[ 0, "desc" ]],
                "columnDefs": [
                    { "name": "date", "type":"date", "targets": 0 },
                    { "name": "title",               "targets": 1 },
                    { "name": "expense",             "targets": 2 },
                    { "name": "income",              "targets": 3 },
                    { "name": "who",                 "targets": 4 },
                    { "name": "category",            "targets": 5 },
                    { "name": "secondaryCategory",   "targets": 6 }
                ],
                "footerCallback": function ( row, data, start, end, display ) {
                    api = this.api(), data;

                    expenseTotal = api
                        .column(2, {search: 'applied'})
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );

                    // Total over this page
                    expenseSubTotal = api
                        .column(2, {page: 'current'})
                        .data()
                        .reduce(function(a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(2).footer()).html(
                        ((api.page.info().pages > 1) ?
                            ((expenseSubTotal < 0) ? '<span class="pull-left">Sub Total: </span>'+currencyFormatter.format(expenseSubTotal) : '') +
                            '<br>'
                            : '') +

                        ((expenseTotal < 0) ? '<span class="pull-left">Total: </span>'+currencyFormatter.format(expenseTotal) : '')
                    );

                    incomeTotal = api
                        .column(3, {search: 'applied'})
                        .data()
                        .reduce( function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0 );

                    // Total over this page
                    incomeSubTotal = api
                        .column(3, {page: 'current'})
                        .data()
                        .reduce(function(a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer
                    $(api.column(3).footer()).html(
                        ((api.page.info().pages > 1) ?
                            ((incomeSubTotal > 0) ? '<span class="pull-left">Sub Total: </span>'+currencyFormatter.format(incomeSubTotal) : '') +
                            '<br>'
                            : '') +

                        ((incomeTotal > 0) ? '<span class="pull-left">Total: </span>'+currencyFormatter.format(incomeTotal) : '')
                    );
                }
            });

            table.on('search.dt', function() {
                if ($('select#category2').val() !== '') {
                    return;
                }

                if ($('select#category1').val() !== '') {
                    $.uniqueSort(category2).sort();
                } else {
                    category2 = [];
                }
                renderCategory2();
            });

            function intVal(i) {
                return typeof i === 'string' ?
                i.replace(/[\$,]/g, '')*1 :
                typeof i === 'number' ?
                i : 0;
            };

            function renderCategory2() {
                if ($('select#category1').val() == '') {
                    $('select#category2').html('<option></option>');
                    return;
                }
                var options = '<option value="">All</option>';
                for (var i = 0; i < category2.length; i++) {
                    options += '<option value="' + category2[i] + '">' + category2[i] + '</option>';
                }
                $('select#category2').html(options);
            }

        </script>


    </body>
</html>
